Repos/SmartWord/Web References/WorkflowModelWebService/WorkflowModelWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.newtera.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.newtera.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.newtera.com/webservices/">
      <s:element name="GetExistingProjectInfos">
        <s:complexType />
      </s:element>
      <s:element name="GetExistingProjectInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExistingProjectInfosResult" type="tns:ArrayOfProjectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProjectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectPolicy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectPolicyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectPolicyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="policyXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveProjectResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="HasRules">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasRulesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasRulesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasLayout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasLayoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasLayoutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTypestr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkflowDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWorkflowData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataTypestr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWorkflowDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="StartWorkflow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartWorkflowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartWorkflowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockProjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="UnlockProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="forceUnlock" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockProjectResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthorizedSchemaInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthorizedSchemaInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthorizedSchemaInfosResult" type="tns:ArrayOfSchemaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSchemaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SchemaInfo" nillable="true" type="tns:SchemaInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchemaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDBARole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDBARoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDBARoleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDBARole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDBARoleResponse">
        <s:complexType />
      </s:element>
      <s:element name="HasRunningInstances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasRunningInstancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasRunningInstancesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowModelID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workflowName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkflowModelIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkflowModelIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLatestVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsLatestVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsLatestVersionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsQueryValid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsQueryValidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsQueryValidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidCustomFunctionDefinition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="functionDefinition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidCustomFunctionDefinitionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsValidCustomFunctionDefinitionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateActionCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="schemaId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceClassName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateActionCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateActionCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskSubstituteModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaskSubstituteModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaskSubstituteModelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTaskSubstituteModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTaskSubstituteModelResponse">
        <s:complexType />
      </s:element>
      <s:element name="LockTaskSubstituteModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LockTaskSubstituteModelResponse">
        <s:complexType />
      </s:element>
      <s:element name="UnlockTaskSubstituteModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="forceUnlock" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockTaskSubstituteModelResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetExistingProjectInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetExistingProjectInfos" />
  </wsdl:message>
  <wsdl:message name="GetExistingProjectInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetExistingProjectInfosResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="GetProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectPolicySoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectPolicy" />
  </wsdl:message>
  <wsdl:message name="GetProjectPolicySoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="SaveProjectSoapIn">
    <wsdl:part name="parameters" element="tns:SaveProject" />
  </wsdl:message>
  <wsdl:message name="SaveProjectSoapOut">
    <wsdl:part name="parameters" element="tns:SaveProjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="HasRulesSoapIn">
    <wsdl:part name="parameters" element="tns:HasRules" />
  </wsdl:message>
  <wsdl:message name="HasRulesSoapOut">
    <wsdl:part name="parameters" element="tns:HasRulesResponse" />
  </wsdl:message>
  <wsdl:message name="HasLayoutSoapIn">
    <wsdl:part name="parameters" element="tns:HasLayout" />
  </wsdl:message>
  <wsdl:message name="HasLayoutSoapOut">
    <wsdl:part name="parameters" element="tns:HasLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkflowData" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkflowDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetWorkflowDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetWorkflowData" />
  </wsdl:message>
  <wsdl:message name="SetWorkflowDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetWorkflowDataResponse" />
  </wsdl:message>
  <wsdl:message name="StartWorkflowSoapIn">
    <wsdl:part name="parameters" element="tns:StartWorkflow" />
  </wsdl:message>
  <wsdl:message name="StartWorkflowSoapOut">
    <wsdl:part name="parameters" element="tns:StartWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="LockProjectSoapIn">
    <wsdl:part name="parameters" element="tns:LockProject" />
  </wsdl:message>
  <wsdl:message name="LockProjectSoapOut">
    <wsdl:part name="parameters" element="tns:LockProjectResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockProjectSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockProject" />
  </wsdl:message>
  <wsdl:message name="UnlockProjectSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedSchemaInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthorizedSchemaInfos" />
  </wsdl:message>
  <wsdl:message name="GetAuthorizedSchemaInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthorizedSchemaInfosResponse" />
  </wsdl:message>
  <wsdl:message name="GetDBARoleSoapIn">
    <wsdl:part name="parameters" element="tns:GetDBARole" />
  </wsdl:message>
  <wsdl:message name="GetDBARoleSoapOut">
    <wsdl:part name="parameters" element="tns:GetDBARoleResponse" />
  </wsdl:message>
  <wsdl:message name="SetDBARoleSoapIn">
    <wsdl:part name="parameters" element="tns:SetDBARole" />
  </wsdl:message>
  <wsdl:message name="SetDBARoleSoapOut">
    <wsdl:part name="parameters" element="tns:SetDBARoleResponse" />
  </wsdl:message>
  <wsdl:message name="HasRunningInstancesSoapIn">
    <wsdl:part name="parameters" element="tns:HasRunningInstances" />
  </wsdl:message>
  <wsdl:message name="HasRunningInstancesSoapOut">
    <wsdl:part name="parameters" element="tns:HasRunningInstancesResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowModelIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkflowModelID" />
  </wsdl:message>
  <wsdl:message name="GetWorkflowModelIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkflowModelIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsLatestVersionSoapIn">
    <wsdl:part name="parameters" element="tns:IsLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IsLatestVersionSoapOut">
    <wsdl:part name="parameters" element="tns:IsLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IsQueryValidSoapIn">
    <wsdl:part name="parameters" element="tns:IsQueryValid" />
  </wsdl:message>
  <wsdl:message name="IsQueryValidSoapOut">
    <wsdl:part name="parameters" element="tns:IsQueryValidResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidCustomFunctionDefinitionSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidCustomFunctionDefinition" />
  </wsdl:message>
  <wsdl:message name="IsValidCustomFunctionDefinitionSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidCustomFunctionDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateActionCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateActionCode" />
  </wsdl:message>
  <wsdl:message name="ValidateActionCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateActionCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTaskSubstituteModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaskSubstituteModel" />
  </wsdl:message>
  <wsdl:message name="GetTaskSubstituteModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaskSubstituteModelResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskSubstituteModelSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTaskSubstituteModel" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskSubstituteModelSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTaskSubstituteModelResponse" />
  </wsdl:message>
  <wsdl:message name="LockTaskSubstituteModelSoapIn">
    <wsdl:part name="parameters" element="tns:LockTaskSubstituteModel" />
  </wsdl:message>
  <wsdl:message name="LockTaskSubstituteModelSoapOut">
    <wsdl:part name="parameters" element="tns:LockTaskSubstituteModelResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockTaskSubstituteModelSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockTaskSubstituteModel" />
  </wsdl:message>
  <wsdl:message name="UnlockTaskSubstituteModelSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockTaskSubstituteModelResponse" />
  </wsdl:message>
  <wsdl:portType name="WorkflowModelServiceSoap">
    <wsdl:operation name="GetExistingProjectInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets project infos of the existing workflow projects that exist in the database.</wsdl:documentation>
      <wsdl:input message="tns:GetExistingProjectInfosSoapIn" />
      <wsdl:output message="tns:GetExistingProjectInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get the project model from database as xml string</wsdl:documentation>
      <wsdl:input message="tns:GetProjectSoapIn" />
      <wsdl:output message="tns:GetProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectPolicy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a project's access control policy from database as xml string</wsdl:documentation>
      <wsdl:input message="tns:GetProjectPolicySoapIn" />
      <wsdl:output message="tns:GetProjectPolicySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Save the project model to database</wsdl:documentation>
      <wsdl:input message="tns:SaveProjectSoapIn" />
      <wsdl:output message="tns:SaveProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete a project model from database</wsdl:documentation>
      <wsdl:input message="tns:DeleteProjectSoapIn" />
      <wsdl:output message="tns:DeleteProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasRules">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the information indicating whether a workflow has rules data</wsdl:documentation>
      <wsdl:input message="tns:HasRulesSoapIn" />
      <wsdl:output message="tns:HasRulesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasLayout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the information indicating whether a workflow has layout data</wsdl:documentation>
      <wsdl:input message="tns:HasLayoutSoapIn" />
      <wsdl:output message="tns:HasLayoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the indicated data of the given workflow from database.</wsdl:documentation>
      <wsdl:input message="tns:GetWorkflowDataSoapIn" />
      <wsdl:output message="tns:GetWorkflowDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetWorkflowData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sets the indicated data of the given workflow to database.</wsdl:documentation>
      <wsdl:input message="tns:SetWorkflowDataSoapIn" />
      <wsdl:output message="tns:SetWorkflowDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartWorkflow">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Start a workflow instance</wsdl:documentation>
      <wsdl:input message="tns:StartWorkflowSoapIn" />
      <wsdl:output message="tns:StartWorkflowSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lock specified project for update.</wsdl:documentation>
      <wsdl:input message="tns:LockProjectSoapIn" />
      <wsdl:output message="tns:LockProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unlock the specified project for update.</wsdl:documentation>
      <wsdl:input message="tns:UnlockProjectSoapIn" />
      <wsdl:output message="tns:UnlockProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedSchemaInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets an array of authorized SchemaInfo instances.</wsdl:documentation>
      <wsdl:input message="tns:GetAuthorizedSchemaInfosSoapIn" />
      <wsdl:output message="tns:GetAuthorizedSchemaInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDBARole">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets name of the role that has permission to modify the project. null if it is non-protected mode.</wsdl:documentation>
      <wsdl:input message="tns:GetDBARoleSoapIn" />
      <wsdl:output message="tns:GetDBARoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDBARole">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sets name of the role that has permission to modify the project, or null for non-protect mode.</wsdl:documentation>
      <wsdl:input message="tns:SetDBARoleSoapIn" />
      <wsdl:output message="tns:SetDBARoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasRunningInstances">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the information indicating whether a workflow model has running instances.</wsdl:documentation>
      <wsdl:input message="tns:HasRunningInstancesSoapIn" />
      <wsdl:output message="tns:HasRunningInstancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowModelID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the id of a workflow model given the name.</wsdl:documentation>
      <wsdl:input message="tns:GetWorkflowModelIDSoapIn" />
      <wsdl:output message="tns:GetWorkflowModelIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsLatestVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the information indicating whether a project is the latest version.</wsdl:documentation>
      <wsdl:input message="tns:IsLatestVersionSoapIn" />
      <wsdl:output message="tns:IsLatestVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsQueryValid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the information indicating whether a XQuery is valid.</wsdl:documentation>
      <wsdl:input message="tns:IsQueryValidSoapIn" />
      <wsdl:output message="tns:IsQueryValidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidCustomFunctionDefinition">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the information indicating whether the format of a custom function definition is correct.</wsdl:documentation>
      <wsdl:input message="tns:IsValidCustomFunctionDefinitionSoapIn" />
      <wsdl:output message="tns:IsValidCustomFunctionDefinitionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateActionCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validate the action code.</wsdl:documentation>
      <wsdl:input message="tns:ValidateActionCodeSoapIn" />
      <wsdl:output message="tns:ValidateActionCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskSubstituteModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the task substitute model from database as xml string</wsdl:documentation>
      <wsdl:input message="tns:GetTaskSubstituteModelSoapIn" />
      <wsdl:output message="tns:GetTaskSubstituteModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskSubstituteModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update the task substitute model in database</wsdl:documentation>
      <wsdl:input message="tns:UpdateTaskSubstituteModelSoapIn" />
      <wsdl:output message="tns:UpdateTaskSubstituteModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LockTaskSubstituteModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lock the task substitute model for update.</wsdl:documentation>
      <wsdl:input message="tns:LockTaskSubstituteModelSoapIn" />
      <wsdl:output message="tns:LockTaskSubstituteModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockTaskSubstituteModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Unlock the task substitute model.</wsdl:documentation>
      <wsdl:input message="tns:UnlockTaskSubstituteModelSoapIn" />
      <wsdl:output message="tns:UnlockTaskSubstituteModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkflowModelServiceSoap" type="tns:WorkflowModelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExistingProjectInfos">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetExistingProjectInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectPolicy">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetProjectPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <soap:operation soapAction="http://www.newtera.com/webservices/SaveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://www.newtera.com/webservices/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasRules">
      <soap:operation soapAction="http://www.newtera.com/webservices/HasRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasLayout">
      <soap:operation soapAction="http://www.newtera.com/webservices/HasLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowData">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetWorkflowData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWorkflowData">
      <soap:operation soapAction="http://www.newtera.com/webservices/SetWorkflowData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWorkflow">
      <soap:operation soapAction="http://www.newtera.com/webservices/StartWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockProject">
      <soap:operation soapAction="http://www.newtera.com/webservices/LockProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockProject">
      <soap:operation soapAction="http://www.newtera.com/webservices/UnlockProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedSchemaInfos">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetAuthorizedSchemaInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBARole">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetDBARole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDBARole">
      <soap:operation soapAction="http://www.newtera.com/webservices/SetDBARole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasRunningInstances">
      <soap:operation soapAction="http://www.newtera.com/webservices/HasRunningInstances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowModelID">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetWorkflowModelID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLatestVersion">
      <soap:operation soapAction="http://www.newtera.com/webservices/IsLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsQueryValid">
      <soap:operation soapAction="http://www.newtera.com/webservices/IsQueryValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCustomFunctionDefinition">
      <soap:operation soapAction="http://www.newtera.com/webservices/IsValidCustomFunctionDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateActionCode">
      <soap:operation soapAction="http://www.newtera.com/webservices/ValidateActionCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskSubstituteModel">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskSubstituteModel">
      <soap:operation soapAction="http://www.newtera.com/webservices/UpdateTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockTaskSubstituteModel">
      <soap:operation soapAction="http://www.newtera.com/webservices/LockTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockTaskSubstituteModel">
      <soap:operation soapAction="http://www.newtera.com/webservices/UnlockTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkflowModelServiceSoap12" type="tns:WorkflowModelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExistingProjectInfos">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetExistingProjectInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectPolicy">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetProjectPolicy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProject">
      <soap12:operation soapAction="http://www.newtera.com/webservices/SaveProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="http://www.newtera.com/webservices/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasRules">
      <soap12:operation soapAction="http://www.newtera.com/webservices/HasRules" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasLayout">
      <soap12:operation soapAction="http://www.newtera.com/webservices/HasLayout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowData">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetWorkflowData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWorkflowData">
      <soap12:operation soapAction="http://www.newtera.com/webservices/SetWorkflowData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartWorkflow">
      <soap12:operation soapAction="http://www.newtera.com/webservices/StartWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockProject">
      <soap12:operation soapAction="http://www.newtera.com/webservices/LockProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockProject">
      <soap12:operation soapAction="http://www.newtera.com/webservices/UnlockProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedSchemaInfos">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetAuthorizedSchemaInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBARole">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetDBARole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDBARole">
      <soap12:operation soapAction="http://www.newtera.com/webservices/SetDBARole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasRunningInstances">
      <soap12:operation soapAction="http://www.newtera.com/webservices/HasRunningInstances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowModelID">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetWorkflowModelID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLatestVersion">
      <soap12:operation soapAction="http://www.newtera.com/webservices/IsLatestVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsQueryValid">
      <soap12:operation soapAction="http://www.newtera.com/webservices/IsQueryValid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCustomFunctionDefinition">
      <soap12:operation soapAction="http://www.newtera.com/webservices/IsValidCustomFunctionDefinition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateActionCode">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ValidateActionCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskSubstituteModel">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskSubstituteModel">
      <soap12:operation soapAction="http://www.newtera.com/webservices/UpdateTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LockTaskSubstituteModel">
      <soap12:operation soapAction="http://www.newtera.com/webservices/LockTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockTaskSubstituteModel">
      <soap12:operation soapAction="http://www.newtera.com/webservices/UnlockTaskSubstituteModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkflowModelService">
    <wsdl:port name="WorkflowModelServiceSoap" binding="tns:WorkflowModelServiceSoap">
      <soap:address location="http://localhost/Newtera/WebService/WorkflowModelWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkflowModelServiceSoap12" binding="tns:WorkflowModelServiceSoap12">
      <soap12:address location="http://localhost/Newtera/WebService/WorkflowModelWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>