Repos/SmartWord/Web References/AttachmentWebService/AttachmentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.newtera.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.newtera.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.newtera.com/webservices/">
      <s:element name="GetAttachmentInfosCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentInfosCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAttachmentInfosCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAttachmentInfosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="isPublic" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAttachmentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentInfoWithId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="isPublic" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAttachmentInfoWithIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetClassAttachmentInfosCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassAttachmentInfosCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetClassAttachmentInfosCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassAttachmentInfos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassAttachmentInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClassAttachmentInfosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClassAttachmentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="isPublic" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClassAttachmentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClassAttachmentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClassAttachmentInfoWithId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="isPublic" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClassAttachmentInfoWithIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetClassAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetClassAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetClassAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteClassAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClassAttachmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFileTypeInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetFileTypeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileTypeInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChartFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formatName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chartId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChartFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateImageAttributeValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageFilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImageAttributeValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateImageAttributeValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="instanceId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteImageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAttachmentInfosCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachmentInfosCount" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentInfosCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachmentInfosCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachmentInfos" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachmentInfosResponse" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddAttachmentInfo" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddAttachmentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentInfoWithIdSoapIn">
    <wsdl:part name="parameters" element="tns:AddAttachmentInfoWithId" />
  </wsdl:message>
  <wsdl:message name="AddAttachmentInfoWithIdSoapOut">
    <wsdl:part name="parameters" element="tns:AddAttachmentInfoWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="SetAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:SetAttachment" />
  </wsdl:message>
  <wsdl:message name="SetAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:SetAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetAttachment" />
  </wsdl:message>
  <wsdl:message name="GetAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAttachment" />
  </wsdl:message>
  <wsdl:message name="DeleteAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetClassAttachmentInfosCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetClassAttachmentInfosCount" />
  </wsdl:message>
  <wsdl:message name="GetClassAttachmentInfosCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassAttachmentInfosCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetClassAttachmentInfosSoapIn">
    <wsdl:part name="parameters" element="tns:GetClassAttachmentInfos" />
  </wsdl:message>
  <wsdl:message name="GetClassAttachmentInfosSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassAttachmentInfosResponse" />
  </wsdl:message>
  <wsdl:message name="AddClassAttachmentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddClassAttachmentInfo" />
  </wsdl:message>
  <wsdl:message name="AddClassAttachmentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddClassAttachmentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddClassAttachmentInfoWithIdSoapIn">
    <wsdl:part name="parameters" element="tns:AddClassAttachmentInfoWithId" />
  </wsdl:message>
  <wsdl:message name="AddClassAttachmentInfoWithIdSoapOut">
    <wsdl:part name="parameters" element="tns:AddClassAttachmentInfoWithIdResponse" />
  </wsdl:message>
  <wsdl:message name="SetClassAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:SetClassAttachment" />
  </wsdl:message>
  <wsdl:message name="SetClassAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:SetClassAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetClassAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetClassAttachment" />
  </wsdl:message>
  <wsdl:message name="GetClassAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClassAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteClassAttachment" />
  </wsdl:message>
  <wsdl:message name="DeleteClassAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClassAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileTypeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileTypeInfo" />
  </wsdl:message>
  <wsdl:message name="GetFileTypeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileTypeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetChartFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetChartFile" />
  </wsdl:message>
  <wsdl:message name="GetChartFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetChartFileResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateImageAttributeValueSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateImageAttributeValue" />
  </wsdl:message>
  <wsdl:message name="UpdateImageAttributeValueSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateImageAttributeValueResponse" />
  </wsdl:message>
  <wsdl:message name="UploadImageSoapIn">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="UploadImageSoapOut">
    <wsdl:part name="parameters" element="tns:UploadImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteImage" />
  </wsdl:message>
  <wsdl:message name="DeleteImageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteImageResponse" />
  </wsdl:message>
  <wsdl:portType name="AttachmentServiceSoap">
    <wsdl:operation name="GetAttachmentInfosCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets count of attachment infos of an instance</wsdl:documentation>
      <wsdl:input message="tns:GetAttachmentInfosCountSoapIn" />
      <wsdl:output message="tns:GetAttachmentInfosCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a collection of attachment infos of an instance</wsdl:documentation>
      <wsdl:input message="tns:GetAttachmentInfosSoapIn" />
      <wsdl:output message="tns:GetAttachmentInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add an attachment info for an instance.</wsdl:documentation>
      <wsdl:input message="tns:AddAttachmentInfoSoapIn" />
      <wsdl:output message="tns:AddAttachmentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentInfoWithId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add an attachment info for an instance, given an attachment id.</wsdl:documentation>
      <wsdl:input message="tns:AddAttachmentInfoWithIdSoapIn" />
      <wsdl:output message="tns:AddAttachmentInfoWithIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set an attachment to an instance.</wsdl:documentation>
      <wsdl:input message="tns:SetAttachmentSoapIn" />
      <wsdl:output message="tns:SetAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get an attachment of an instance.</wsdl:documentation>
      <wsdl:input message="tns:GetAttachmentSoapIn" />
      <wsdl:output message="tns:GetAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an attachment from an instance.</wsdl:documentation>
      <wsdl:input message="tns:DeleteAttachmentSoapIn" />
      <wsdl:output message="tns:DeleteAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachmentInfosCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets count of attachment infos of a class</wsdl:documentation>
      <wsdl:input message="tns:GetClassAttachmentInfosCountSoapIn" />
      <wsdl:output message="tns:GetClassAttachmentInfosCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachmentInfos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a collection of attachment infos of a class</wsdl:documentation>
      <wsdl:input message="tns:GetClassAttachmentInfosSoapIn" />
      <wsdl:output message="tns:GetClassAttachmentInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClassAttachmentInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add an attachment info for a class.</wsdl:documentation>
      <wsdl:input message="tns:AddClassAttachmentInfoSoapIn" />
      <wsdl:output message="tns:AddClassAttachmentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClassAttachmentInfoWithId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add an attachment info for a class, given an attachment id.</wsdl:documentation>
      <wsdl:input message="tns:AddClassAttachmentInfoWithIdSoapIn" />
      <wsdl:output message="tns:AddClassAttachmentInfoWithIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetClassAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set an attachment to a class.</wsdl:documentation>
      <wsdl:input message="tns:SetClassAttachmentSoapIn" />
      <wsdl:output message="tns:SetClassAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get an attachment of a class.</wsdl:documentation>
      <wsdl:input message="tns:GetClassAttachmentSoapIn" />
      <wsdl:output message="tns:GetClassAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClassAttachment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an attachment from a class.</wsdl:documentation>
      <wsdl:input message="tns:DeleteClassAttachmentSoapIn" />
      <wsdl:output message="tns:DeleteClassAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileTypeInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get information for attachment file types.</wsdl:documentation>
      <wsdl:input message="tns:GetFileTypeInfoSoapIn" />
      <wsdl:output message="tns:GetFileTypeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChartFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a chart file.</wsdl:documentation>
      <wsdl:input message="tns:GetChartFileSoapIn" />
      <wsdl:output message="tns:GetChartFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateImageAttributeValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update value of an image attribute of a data instance.</wsdl:documentation>
      <wsdl:input message="tns:UpdateImageAttributeValueSoapIn" />
      <wsdl:output message="tns:UpdateImageAttributeValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Upload an image for an image attribute of an instance.</wsdl:documentation>
      <wsdl:input message="tns:UploadImageSoapIn" />
      <wsdl:output message="tns:UploadImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get an image of specified id.</wsdl:documentation>
      <wsdl:input message="tns:GetImageSoapIn" />
      <wsdl:output message="tns:GetImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete an image and clear value of corresponding image column.</wsdl:documentation>
      <wsdl:input message="tns:DeleteImageSoapIn" />
      <wsdl:output message="tns:DeleteImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AttachmentServiceSoap" type="tns:AttachmentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAttachmentInfosCount">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetAttachmentInfosCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentInfos">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetAttachmentInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentInfo">
      <soap:operation soapAction="http://www.newtera.com/webservices/AddAttachmentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentInfoWithId">
      <soap:operation soapAction="http://www.newtera.com/webservices/AddAttachmentInfoWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAttachment">
      <soap:operation soapAction="http://www.newtera.com/webservices/SetAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap:operation soapAction="http://www.newtera.com/webservices/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachmentInfosCount">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetClassAttachmentInfosCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachmentInfos">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetClassAttachmentInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClassAttachmentInfo">
      <soap:operation soapAction="http://www.newtera.com/webservices/AddClassAttachmentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClassAttachmentInfoWithId">
      <soap:operation soapAction="http://www.newtera.com/webservices/AddClassAttachmentInfoWithId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClassAttachment">
      <soap:operation soapAction="http://www.newtera.com/webservices/SetClassAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachment">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetClassAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClassAttachment">
      <soap:operation soapAction="http://www.newtera.com/webservices/DeleteClassAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileTypeInfo">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetFileTypeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartFile">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetChartFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImageAttributeValue">
      <soap:operation soapAction="http://www.newtera.com/webservices/UpdateImageAttributeValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap:operation soapAction="http://www.newtera.com/webservices/UploadImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap:operation soapAction="http://www.newtera.com/webservices/DeleteImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AttachmentServiceSoap12" type="tns:AttachmentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAttachmentInfosCount">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetAttachmentInfosCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachmentInfos">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetAttachmentInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentInfo">
      <soap12:operation soapAction="http://www.newtera.com/webservices/AddAttachmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAttachmentInfoWithId">
      <soap12:operation soapAction="http://www.newtera.com/webservices/AddAttachmentInfoWithId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAttachment">
      <soap12:operation soapAction="http://www.newtera.com/webservices/SetAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachment">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAttachment">
      <soap12:operation soapAction="http://www.newtera.com/webservices/DeleteAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachmentInfosCount">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetClassAttachmentInfosCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachmentInfos">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetClassAttachmentInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClassAttachmentInfo">
      <soap12:operation soapAction="http://www.newtera.com/webservices/AddClassAttachmentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClassAttachmentInfoWithId">
      <soap12:operation soapAction="http://www.newtera.com/webservices/AddClassAttachmentInfoWithId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClassAttachment">
      <soap12:operation soapAction="http://www.newtera.com/webservices/SetClassAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassAttachment">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetClassAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClassAttachment">
      <soap12:operation soapAction="http://www.newtera.com/webservices/DeleteClassAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileTypeInfo">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetFileTypeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartFile">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetChartFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateImageAttributeValue">
      <soap12:operation soapAction="http://www.newtera.com/webservices/UpdateImageAttributeValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap12:operation soapAction="http://www.newtera.com/webservices/UploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImage">
      <soap12:operation soapAction="http://www.newtera.com/webservices/DeleteImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AttachmentService">
    <wsdl:port name="AttachmentServiceSoap" binding="tns:AttachmentServiceSoap">
      <soap:address location="http://localhost/Newtera/WebService/AttachmentWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AttachmentServiceSoap12" binding="tns:AttachmentServiceSoap12">
      <soap12:address location="http://localhost/Newtera/WebService/AttachmentWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>