Repos/SmartExcel/Web References/CMDataWebService/CMDataWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.newtera.com/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.newtera.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.newtera.com/webservices/">
      <s:element name="ExecuteQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteQueryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BeginQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextResultResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndQueryResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExecuteUpdateQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="needToRaiseEvents" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteUpdateQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteUpdateQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteValidatingQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteValidatingQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteValidatingQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllInstances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllInstancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAllInstancesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateXmlDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlSchemaName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="baseClassName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateXmlDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateXmlDocResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildFullTextIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildFullTextIndexResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExecuteUpdateQueries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queries" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteUpdateQueriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteUpdateQueriesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstanceCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInstanceCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetInstanceCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetDataCache">
        <s:complexType />
      </s:element>
      <s:element name="ResetDataCacheResponse">
        <s:complexType />
      </s:element>
      <s:element name="ExecuteImportScripts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chunkIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteImportScriptsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteImportScriptsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xquery" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BeginImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BeginImportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportNext">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connectionStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="importId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="chunkIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportNextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportNextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="importId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EndImportResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteQueryResponse" />
  </wsdl:message>
  <wsdl:message name="BeginQuerySoapIn">
    <wsdl:part name="parameters" element="tns:BeginQuery" />
  </wsdl:message>
  <wsdl:message name="BeginQuerySoapOut">
    <wsdl:part name="parameters" element="tns:BeginQueryResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextResult" />
  </wsdl:message>
  <wsdl:message name="GetNextResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextResultResponse" />
  </wsdl:message>
  <wsdl:message name="EndQuerySoapIn">
    <wsdl:part name="parameters" element="tns:EndQuery" />
  </wsdl:message>
  <wsdl:message name="EndQuerySoapOut">
    <wsdl:part name="parameters" element="tns:EndQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteUpdateQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteUpdateQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteUpdateQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteUpdateQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteValidatingQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteValidatingQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteValidatingQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteValidatingQueryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAllInstancesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAllInstances" />
  </wsdl:message>
  <wsdl:message name="DeleteAllInstancesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllInstancesResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateXmlDocSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateXmlDoc" />
  </wsdl:message>
  <wsdl:message name="GenerateXmlDocSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateXmlDocResponse" />
  </wsdl:message>
  <wsdl:message name="BuildFullTextIndexSoapIn">
    <wsdl:part name="parameters" element="tns:BuildFullTextIndex" />
  </wsdl:message>
  <wsdl:message name="BuildFullTextIndexSoapOut">
    <wsdl:part name="parameters" element="tns:BuildFullTextIndexResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteUpdateQueriesSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteUpdateQueries" />
  </wsdl:message>
  <wsdl:message name="ExecuteUpdateQueriesSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteUpdateQueriesResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteCountSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCount" />
  </wsdl:message>
  <wsdl:message name="ExecuteCountSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetInstanceCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetInstanceCount" />
  </wsdl:message>
  <wsdl:message name="GetInstanceCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetInstanceCountResponse" />
  </wsdl:message>
  <wsdl:message name="ResetDataCacheSoapIn">
    <wsdl:part name="parameters" element="tns:ResetDataCache" />
  </wsdl:message>
  <wsdl:message name="ResetDataCacheSoapOut">
    <wsdl:part name="parameters" element="tns:ResetDataCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteImportScriptsSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteImportScripts" />
  </wsdl:message>
  <wsdl:message name="ExecuteImportScriptsSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteImportScriptsResponse" />
  </wsdl:message>
  <wsdl:message name="BeginImportSoapIn">
    <wsdl:part name="parameters" element="tns:BeginImport" />
  </wsdl:message>
  <wsdl:message name="BeginImportSoapOut">
    <wsdl:part name="parameters" element="tns:BeginImportResponse" />
  </wsdl:message>
  <wsdl:message name="ImportNextSoapIn">
    <wsdl:part name="parameters" element="tns:ImportNext" />
  </wsdl:message>
  <wsdl:message name="ImportNextSoapOut">
    <wsdl:part name="parameters" element="tns:ImportNextResponse" />
  </wsdl:message>
  <wsdl:message name="EndImportSoapIn">
    <wsdl:part name="parameters" element="tns:EndImport" />
  </wsdl:message>
  <wsdl:message name="EndImportSoapOut">
    <wsdl:part name="parameters" element="tns:EndImportResponse" />
  </wsdl:message>
  <wsdl:portType name="CMDataServiceSoap">
    <wsdl:operation name="ExecuteQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute a query and return the result in XmlDocument.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteQuerySoapIn" />
      <wsdl:output message="tns:ExecuteQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeginQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Prepare to execute a lenghty query.</wsdl:documentation>
      <wsdl:input message="tns:BeginQuerySoapIn" />
      <wsdl:output message="tns:BeginQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a page of result in xml.</wsdl:documentation>
      <wsdl:input message="tns:GetNextResultSoapIn" />
      <wsdl:output message="tns:GetNextResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Finish a lengthy query by closing the reader.</wsdl:documentation>
      <wsdl:input message="tns:EndQuerySoapIn" />
      <wsdl:output message="tns:EndQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdateQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute an updatequery and return obj id(s) involved.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteUpdateQuerySoapIn" />
      <wsdl:output message="tns:ExecuteUpdateQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteValidatingQuery">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute a validating query and return validating result.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteValidatingQuerySoapIn" />
      <wsdl:output message="tns:ExecuteValidatingQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllInstances">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete all instances of a given class.</wsdl:documentation>
      <wsdl:input message="tns:DeleteAllInstancesSoapIn" />
      <wsdl:output message="tns:DeleteAllInstancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateXmlDoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a xml document generated based on a xml schema for the instance(s) of a base class retrived by a query.</wsdl:documentation>
      <wsdl:input message="tns:GenerateXmlDocSoapIn" />
      <wsdl:output message="tns:GenerateXmlDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildFullTextIndex">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Build full-text index for a given class.</wsdl:documentation>
      <wsdl:input message="tns:BuildFullTextIndexSoapIn" />
      <wsdl:output message="tns:BuildFullTextIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdateQueries">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute multiple update queries and return obj id(s) involved.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteUpdateQueriesSoapIn" />
      <wsdl:output message="tns:ExecuteUpdateQueriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute a query and return the count of resulting instances.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteCountSoapIn" />
      <wsdl:output message="tns:ExecuteCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInstanceCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the number of instances in a class.</wsdl:documentation>
      <wsdl:input message="tns:GetInstanceCountSoapIn" />
      <wsdl:output message="tns:GetInstanceCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetDataCache">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reset cache.</wsdl:documentation>
      <wsdl:input message="tns:ResetDataCacheSoapIn" />
      <wsdl:output message="tns:ResetDataCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteImportScripts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Execute import scripts.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteImportScriptsSoapIn" />
      <wsdl:output message="tns:ExecuteImportScriptsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BeginImport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generating sql actions from a xquery.</wsdl:documentation>
      <wsdl:input message="tns:BeginImportSoapIn" />
      <wsdl:output message="tns:BeginImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportNext">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Import a block of data instances to the specified class</wsdl:documentation>
      <wsdl:input message="tns:ImportNextSoapIn" />
      <wsdl:output message="tns:ImportNextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EndImport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Finish an import task.</wsdl:documentation>
      <wsdl:input message="tns:EndImportSoapIn" />
      <wsdl:output message="tns:EndImportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMDataServiceSoap" type="tns:CMDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteQuery">
      <soap:operation soapAction="http://www.newtera.com/webservices/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginQuery">
      <soap:operation soapAction="http://www.newtera.com/webservices/BeginQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextResult">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetNextResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndQuery">
      <soap:operation soapAction="http://www.newtera.com/webservices/EndQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdateQuery">
      <soap:operation soapAction="http://www.newtera.com/webservices/ExecuteUpdateQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteValidatingQuery">
      <soap:operation soapAction="http://www.newtera.com/webservices/ExecuteValidatingQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllInstances">
      <soap:operation soapAction="http://www.newtera.com/webservices/DeleteAllInstances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateXmlDoc">
      <soap:operation soapAction="http://www.newtera.com/webservices/GenerateXmlDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildFullTextIndex">
      <soap:operation soapAction="http://www.newtera.com/webservices/BuildFullTextIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdateQueries">
      <soap:operation soapAction="http://www.newtera.com/webservices/ExecuteUpdateQueries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCount">
      <soap:operation soapAction="http://www.newtera.com/webservices/ExecuteCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstanceCount">
      <soap:operation soapAction="http://www.newtera.com/webservices/GetInstanceCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetDataCache">
      <soap:operation soapAction="http://www.newtera.com/webservices/ResetDataCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteImportScripts">
      <soap:operation soapAction="http://www.newtera.com/webservices/ExecuteImportScripts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginImport">
      <soap:operation soapAction="http://www.newtera.com/webservices/BeginImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportNext">
      <soap:operation soapAction="http://www.newtera.com/webservices/ImportNext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndImport">
      <soap:operation soapAction="http://www.newtera.com/webservices/EndImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CMDataServiceSoap12" type="tns:CMDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteQuery">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ExecuteQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginQuery">
      <soap12:operation soapAction="http://www.newtera.com/webservices/BeginQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextResult">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetNextResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndQuery">
      <soap12:operation soapAction="http://www.newtera.com/webservices/EndQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdateQuery">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ExecuteUpdateQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteValidatingQuery">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ExecuteValidatingQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllInstances">
      <soap12:operation soapAction="http://www.newtera.com/webservices/DeleteAllInstances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateXmlDoc">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GenerateXmlDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildFullTextIndex">
      <soap12:operation soapAction="http://www.newtera.com/webservices/BuildFullTextIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteUpdateQueries">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ExecuteUpdateQueries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCount">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ExecuteCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstanceCount">
      <soap12:operation soapAction="http://www.newtera.com/webservices/GetInstanceCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetDataCache">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ResetDataCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteImportScripts">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ExecuteImportScripts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginImport">
      <soap12:operation soapAction="http://www.newtera.com/webservices/BeginImport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportNext">
      <soap12:operation soapAction="http://www.newtera.com/webservices/ImportNext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndImport">
      <soap12:operation soapAction="http://www.newtera.com/webservices/EndImport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMDataService">
    <wsdl:port name="CMDataServiceSoap" binding="tns:CMDataServiceSoap">
      <soap:address location="http://localhost/Newtera/WebService/CMDataWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CMDataServiceSoap12" binding="tns:CMDataServiceSoap12">
      <soap12:address location="http://localhost/Newtera/WebService/CMDataWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>